* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(252, 238, 252)
}

header {
    background-color: rgb(35, 0, 63);
    margin-bottom: 5vh;
}

.logoL {
    margin-left: 20%;
}

.logo img{
    filter: drop-shadow(0 0 0.1rem rgb(255, 255, 255));
    
}

main { 
    margin-left: 15%;
    margin-right: 15%;
    /* border: 1px solid; */
    
}

.container-contact {
    display: flex;
    flex-direction: row;
    background-color: rgb(252, 238, 252);
    margin-bottom: 15vh;
}

.teste {
    display: flex;
}

.p-contact {
    margin-right: 5vh;
    width: auto;
}

.ph-contact {
    font-size: 3.5em;
}

.pp-contact {
    font-size: 1.6em;
    margin-bottom: 5vh;
}

.bi {
    color: rgb(35, 0, 63);
    min-width: 30px;
    margin-right: 2%;
}

.introduction-contact{
    display: flex;
    font-size: 1.3em;
}

.form-contact {
    padding: 5vh;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(148, 147, 147);
    width: 75%;
}

.desc-form {
    margin-bottom: 50px;
    justify-content: center;
}

.form-control, .form-select{
    font-size: 1.2em;
}

.acept-term {
    margin-top: 3vh;
}

.btn-contact {
    margin: 0;
    color: rgb(255, 255, 255);
    background-color: rgb(35, 0, 63);
    border: 1px solid rgb(35, 0, 63);
}

.btn-contact:hover {
    background-color: rgb(90, 0, 163);
    border: 1px solid rgb(90, 0, 163);
    color: rgb(255, 255, 255);
}

.info {
    display: flex;
    margin-top: 10vh;
    justify-content: space-between;
    margin-bottom: 12vh;
}

.info-title {
    font-weight: bold;
    font-size: 1.5em;
}

.info-desc {
    font-size: 1.2em;
}

.info-obs {
    font-style: italic;
    font-size: 0.8em;
}

.biStar {
    width: 20;
    height: 20;
    margin-bottom: 1.5vh;
}

.img-students {
    width: 50vh;
    height: auto;
    margin-left: 5vh;
}

.ef-container {
    display: flex;
}

.ef-desc {
    margin-left: 10%;
    margin-top: 4vh;
}

.ef-title {
    font-size: 2.8em;
    margin-bottom: 5vh;
}

.ef-text {
    font-size: 1.2em;
    text-align: justify;
}

.ef-btn {
    color: rgb(255, 255, 255);
    background-color: rgb(35, 0, 63);
    border: 1px solid rgb(35, 0, 63);
}

.ef-btn:hover {
    background-color: rgb(90, 0, 163);
    border: 1px solid rgb(90, 0, 163);
    color: rgb(255, 255, 255);
}

.d-block {
    width: 50vh;
    height: auto;
}