body {
    background-color: rgb(252, 238, 252)
}

header {
    background-color: rgb(35, 0, 63);
    
}

.logo {
    margin-left: 20%;
}

.logo img{
    filter: drop-shadow(0 0 0.1rem rgb(255, 255, 255));
    
}

main { 
    margin-left: 20%;
    margin-right: 20%;
    border: 1px solid;
    
}

.container-contact {
    display: flex;
    flex-direction: row;
    border: 1px solid;
    background-color: rgb(252, 238, 252)
}

.p-contact {
    
}

.form-contact {
    padding: 2vh;
    background-color: rgb(255, 255, 255);
    border: 1px solid;
}